.chatbot-box {
    position: fixed;
    display: none;
    bottom: 100px;
    right: 25px;
    width: 350px;

    background-color: white;
    z-index: 9999;
    border-radius: 10px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.chat-header {
    background-color: #F64E60;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    display: block;
    font-family: 'Poppins';
    font-style: normal;
    color: white;

}

.open-button {
    background-color: #F64E60;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 23px;
    right: 28px;
}
.image-upload>input {
    display: none;
    width: 25px;
    height: 25px;
  }

